#container {
  //////////////////////header
  .header {
    position: relative;
    max-width: 100%;
    height: 100px;
    background-color: rgb(8, 19, 46);
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      .logo {
        flex: 1;
        img {
          margin-top: 10px;
          width: 120px;
        }
      }
      .navbar {
        flex: 2;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          li {
            position: relative;
            margin-right: 40px;
            transition: 0.5s ease-in-out;
            z-index: 100;
            a {
              text-decoration: none;
              color: #fff;
              padding: 40px 20px;
              font-family: monospace;
              font-size: 17px;
            }
            &:hover ul {
              display: block;
            }
            ul {
              display: none;
              position: absolute;
              left: -95px;
              text-align: center;
              width: 300px;
              margin-top: 40px;
              border-radius: 7px;
              border: 1px solid #eeeeee;
              list-style: none;
              transition: 0.3s ease-in-out;
              animation: topDown 0.3s ease-in-out;
              background-color: #f9f9f9;
              z-index: 100;
              li {
                overflow: auto;
                transition: 0.2s ease-in-out;
                margin: 0;
                a {
                  display: block;
                  padding: 10px;
                  color: #333;
                  border-radius: 0 0 7px 7px;
                  transition: 0.2s ease-in-out;
                  &:hover {
                    background-color: rgb(245, 154, 94);
                    color: #fff;
                    border-radius: 0 0 7px 7px;
                  }
                }
              }
              @keyframes topDown {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .info {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        .search {
          input {
            padding: 12px 15px;
            border-radius: 4px;
            border: none;
            outline: none;
            font-size: 16px;
            width: 300px;
          }
        }
        .user-info {
          margin-left: 20px;
          position: relative;

          .user-select {
            background: transparent;
            border: none;
            color: #fff;
            font-family: monospace;
            font-size: 17px;
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 150px;
            span {
              margin-right: 10px;
              max-width: 450px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .dropdown-menu {
              position: absolute;
              top: 100%;
              right: 10px;
              border: 1px solid #eeeeee;
              border-radius: 7px;
              list-style: none;
              display: flex;
              flex-direction: column;
              margin-top: 20px;
              button {
                border-radius: 5px;
                border: 1px solid #eeeeee;
                color: rgb(8, 19, 46);
                font-family: monospace;
                font-size: 15px;
                cursor: pointer;
                padding: 10px 30px;
                transition: 0.2s ease-in-out;
                position: relative;
                z-index: 10;
                &:hover {
                  background-color: rgb(245, 154, 94);
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  ///////////////////Slider
  .slider {
    cursor: pointer;
    position: relative;
    .slick-slider {
      position: relative;
      img {
        max-width: 100%;
        width: 100%;
        height: 700px;
        object-fit: cover;
        background-position: center;
        border-radius: 10px;
      }
      .slick-slide {
        padding: 10px;
      }
      .slick-list {
        overflow: hidden;
      }
      .slick-track {
        display: flex;
        align-items: center;
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex !important;
      justify-content: center;
      align-items: center;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        button {
          font-size: 0;
          background-color: #ccc;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          border: none;
          outline: none;
          &:before {
            display: none;
          }
        }
        &.slick-active button {
          background-color: rgb(247, 84, 8);
          border: none;
          outline: none;
        }
      }
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out,
        right 0.3s ease-in-out;
      &::before {
        font-family: "FontAwesome";
        font-size: 24px;
        content: "\f104";
      }

      &.slick-prev {
        background-color: rgba(236, 236, 236, 0.781);
        font-size: 0;
        left: 0px;
      }
      &.slick-next {
        background-color: rgba(236, 236, 236, 0.781);
        font-size: 0;
        right: 0px;
        &::before {
          content: "\f105";
        }
      }

      &:hover {
        background-color: rgb(247, 84, 8);
      }
    }
    &:hover .slick-arrow {
      opacity: 1;
    }

    &:hover .slick-prev {
      left: 80px;
      transition: left 0.3s ease-in-out;
    }

    &:hover .slick-next {
      right: 80px;
      transition: right 0.3s ease-in-out;
    }
  }

  ///////////////////Footer
  .footer {
    padding-top: 80px;
    .border-bottom {
      .footer-container {
        padding: 3rem 0px;
        max-width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #eee;
        height: 280px;
        .footer-top {
          max-width: 100%;
          width: 1500px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .input {
            margin: 0;
            padding-bottom: 0;
            position: relative;
            img {
              max-width: 100%;
              width: 200px;
            }
            input {
              padding: 15px 15px;
              border-radius: 5px;
              font-size: 18px;
              font-family: monospace;
              background-color: #e6e6e6;
              border: none;
              outline: none;
              width: 280px;
            }
            button {
              position: absolute;
              border: none;
              background: none;
              font-size: 15px;
              top: 17px;
              right: 5px;
              line-height: 0;
              cursor: pointer;
              .icon-keyboard_backspace {
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                &::before {
                  font-family: "Font Awesome 5 Free";
                  content: "\f054";
                  font-weight: 700;
                  margin-right: 8px;
                }
              }
            }
          }
          .thumb {
            img {
              max-width: 100%;
              width: 200px;
              margin-right: 140px;
            }
          }
          .social-media {
            display: flex;
            font-size: 40px;
            .icon {
              transition: 0.3s ease-in-out;
              &:hover {
                color: rgb(247, 84, 8);
              }
            }
            .youtube {
              margin: 0px 30px;
            }
          }
        }
        .footer-bottom {
          border-top: 1px solid #c9c9c9;
          max-width: 100%;
          margin: 0 auto;
          span {
            font-family: monospace;
            font-size: 18px;
            text-align: center;
            display: block;
            margin-top: 50px;
          }
        }
      }
    }
  }
}
